version: 2

updates:

  - package-ecosystem: 'terraform'
    directory: '/terraform'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
