hcloud_api_token = ""

wg_server_name     = ""
wg_server_type     = ""
wg_server_location = ""

wg_server_wg_privatekey      = ""
wg_server_wg_peer_publickeys = []

wg_firewall_name = ""

wg_ssh_publickey      = ""
wg_ssh_publickey_name = ""
